:root {
  --ion-color-primary: #33323A;
  --ion-color-primary-rgb: 51, 50, 58;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2d2c33;
  --ion-color-primary-tint: #47474e;

  --ion-color-secondary: #CB6257;
  --ion-color-secondary-rgb: 203, 98, 87;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #b3564d;
  --ion-color-secondary-tint: #d07268;

  --ion-color-tertiary: #F8BF13;
  --ion-color-tertiary-rgb: 248, 191, 19;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #daa811;
  --ion-color-tertiary-tint: #f9c52b;

  --ion-color-success: #82BC90;
  --ion-color-success-rgb: 130, 188, 144;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #72a57f;
  --ion-color-success-tint: #8fc39b;

  --ion-color-warning: #F8BF13;
  --ion-color-warning-rgb: 248, 191, 19;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #daa811;
  --ion-color-warning-tint: #f9c52b;

  --ion-color-danger: #CD2F4E;
  --ion-color-danger-rgb: 205, 47, 78;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #b42945;
  --ion-color-danger-tint: #d24460;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #929191;
  --ion-color-medium-rgb: 146, 145, 145;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808080;
  --ion-color-medium-tint: #9d9c9c;

  --ion-color-light: #F6F8F8;
  --ion-color-light-rgb: 246, 248, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8dada;
  --ion-color-light-tint: #f7f9f9;
}